.about {
  width: 250px;
}
.head-about {
  color: #6d396b;
  font-size: 45px;
  font-family: 'Roboto';
}
.para-about {
  color: #555555;
  font-size: 15px;
  font-family: 'Roboto';
}
.About-cont {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
